img {
    width: 30%;
}

body {
    background-color: rgb(15, 0, 11);
    color: aliceblue;
    font-size:larger;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin-left: 10%;
    margin-right: 10%;
}

ul{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

a {
    color: white;
}

li {
    color: white;
    padding-right: 60px;
}

h1 {
    color: aquamarine;
}

@media (max-width: 1200px){
    body {
        background-color: rgb(103, 21, 141);
        color: rgb(174, 190, 204);
        font-size: medium;
        /* font-family: */
    }

    li {
        padding-right: 30px;
    }

    h1 {
        color: rgb(203, 249, 52);
    }
}

@media (max-width: 800px){
    body {
        background-color: rgb(180, 33, 139);
        color: rgb(174, 190, 204);
        font-size: medium;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        /* line-height: 1.6; */
    }

    ul{
        display: flex;
        flex-direction: column;
    }

    main {
        display: flex;
        flex-direction:column;
    }
    img {
        width: 100%;
    }

    h1 {
        color: #b7caef;
    }
}

